#center {
    
    background-image: linear-gradient(rgba(22, 78, 182, 0.97),rgb(161, 206, 241),rgba(146, 117, 5, 0.833));
   
  }
  #center1
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68.1%;
    height: 150px; 
  }
  #center2
  {
    background-image: linear-gradient(rgba(5, 49, 9, 0.97),rgb(219, 101, 11),rgba(146, 117, 5, 0.833));
   color: transparent;
   text-decoration: underline rgb(37, 52, 4);
  }